// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Colors
//---------------------------------

$color-white: #ffffff;
$color-black: #000000;
$color-alice-blue: #eff3f5;
$color-palatinate-purple: #6e105e;
$color-medium-violet-red: #bd1c9f;
$color-tenne:#d26600;

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
